@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
body{
    font-family: 'Roboto', sans-serif;
}
.confiavel{
  text-align: right;
  color: green;

}
.nconfiavel{
  text-align: right;
  color: red;
  
}
.bg-white{
  margin-top: 130px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 40px 1px rgba(0,0,0,0.3); 
  box-shadow: 1px 1px 27px 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding-bottom: 50px;
}
.bg-blue{
  background-image: linear-gradient(#4da2f2, #84c3ff);
}
.font{
  font-family: 'Baloo Paaji', cursive;
  color: #6f83b9;
}
.box-agencia{
  margin: 25px;
    height: 100%;
    display: flex;
    box-shadow: 1px 1px 6px black;  
}
.logos-img{
  width: 119px;
  margin: 35px;
}
#esquerda {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#bg-contato{
    background-color: #4da2f2;
}
//menu
.navbar-default li {
    padding: 1px 0px;
    h4{
      // &:hover{
      //   color: white
      // }
        font-size: 15px;
    }
}
.menu-login{
    height: 100%;
    text-align: center;
    margin: 25px 0px;
}
.menu-login-2{
  &:hover{
    color: white;
  }
}
.bttn2{
    border-radius: 30px!important;
    background-color: white!important;
    color: #4da2f2!important;
}

.bttn {
    color: white;
    font-size: 12px;
    background-color: #4da2f2;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding: 14px 27px;
    border: 3px solid #4da2f2;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
}
.img-logo{
    height: 60px;
    margin-top: -14px;
}
.navbar {
    border-radius: 0px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    min-height: 65px;
    }
//HOME
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
//CARROUSEL 
.myslider {
    height: auto;
    width: 100%;
    // margin: 10px auto;
  }
  .myslider .item {
    height: auto;
    width: 100%;
    
  }
  .myslider .item img {
    height: auto;
    width: 100%;
  }
  .myslider2 {
    height: auto;
    width: 100%;
    // margin: 10px auto;
  }
  .myslider2 .item {
    height: auto;
    width: 100%;
    
  }
  .myslider2 .item img {
    height: auto;
    width: 100%;
  }
  .owl-dots .owl-dot {
    margin: 0px 5px;
  }
  .owl-dots .owl-dot button {
    background: none;
    border: none;
    padding: 0;
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  .owl-dots .owl-dot button:focus {
    outline: none;
  }
  .owl-dots .owl-dot.active button {
    color: #000000;
  }
//Depoimentos
.depoimentos{
  color: white;
  .nome-dep{
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 30px;
  }
  .owl-dots .owl-dot.active button {
    color: #ffffff;
  }
  .mg-25{
    padding:25px;
    background-color: #061f3e
  }
  padding: 100px 0px;
}
//Info
.informacoes{
  padding-top: 50px;
  padding-bottom: 50px;
}
//parceiros
.parceiros{
  box-shadow: 1px 1px 1px black rgba(0,0,0,0.1);
}
//Formulario
#formulario-pessoa{
    
    .pd-150{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .bg-white{
        .h2-padding{
            padding: 35px 0px;
            text-transform: uppercase;
        }
        background-color: white;
        -webkit-box-shadow: 1px 1px 40px 1px rgba(0,0,0,0.3); 
        box-shadow: 1px 1px 27px 1px rgba(0,0,0,0.3);
        border-radius: 10px;
        padding-bottom: 50px;
    }
}
//footer
.contato{
    min-height: 900px;
}
.container {
  width: 100%;
  height: 100vh;
  // background: #6C7A89;
  background-image: linear-gradient(#4da2f2, #84c3ff);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.box {
  border-radius: 16px;  
  width: 700px;
  height: 400px;
  background: #fff;
}
.login{
  .bttn:hover{
      box-shadow: 1px 1px 27px 1px rgba(0,0,0,0.3);
  }
    align-items: center;
    justify-items: center;
    border-right: solid 0.1px #d8d8d8;
    display: flex;
    flex-direction: column;
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-wobble-horizontal .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-wobble-horizontal:hover .hvr-icon, .hvr-icon-wobble-horizontal:focus .hvr-icon, .hvr-icon-wobble-horizontal:active .hvr-icon {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  /* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
  @keyframes hvr-back-pulse {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
  .hvr-back-pulse {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #2098D1;
    background-color: #2098d1;
    color: white;
  }
  /* Icon Grow Rotate */
.hvr-icon-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-grow-rotate .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-grow-rotate:hover .hvr-icon, .hvr-icon-grow-rotate:focus .hvr-icon, .hvr-icon-grow-rotate:active .hvr-icon {
    -webkit-transform: scale(1.5) rotate(12deg);
    transform: scale(1.5) rotate(12deg);
  }
  /* Icon Forward */
.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  .hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }